## 设置服务URL根路径。如：
## * http://localhost
## * https://localhost
## * http://localhost:8080
#frame.ctrl.service-root =

## 设置系统执行异常时返回的提示信息编码。
#frame.ctrl.dispatcher.exception = 9999
## 设置系统繁忙时返回的提示信息编码。
#frame.ctrl.dispatcher.busy = 9998
## 设置存在安全隐患提示信息编码。
#frame.ctrl.dispatcher.danger = 9997
## 设置没有权限或Session过期提示信息编码。
#frame.ctrl.dispatcher.not-permit = 9996

## 设置可信任的IP地址集（IP白名单）文件位置。
#frame.ctrl.security.trustful-ip = /WEB-INF/secruity/trustful-ip

## 设置是否检查XSS攻击脚本数据。
## 如果设置为true则表示检查XSS攻击脚本内容。
## 如果设置为false则表示不检查。
#frame.ctrl.security.xss.enable = true
## 设置忽略检查XSS的URI地址文件位置。
#frame.ctrl.security.xss.ignore = /WEB-INF/security/xss

## 设置服务并发处理配置文件位置。
#frame.ctrl.counter = /WEB-INF/security/counter.json

## 设置获取真实IP的请求头名称。
## 如果为空则使用系统默认的方式获取；
## 如果配置了反向代理则设置为转发的头名称。
## 注：nginx转发时头名称会被转化为全小写，如：。
#frame.ctrl.context.header.real-ip =

## 设置请求签名密钥名。
#frame.ctrl.context.request.sign = frame-ctrl-sign

## 控制台服务URI地址。
## 如果设置为空则不启用控制台。
#frame.ctrl.console.uri = /frame/ctrl/console
## 允许访问控制台的IP地址集，多个IP地址间以逗号分割。
## 如果设置为空则表示拒绝所有IP访问。
## 如果设置为*号则表示允许任意IP地址访问。
#frame.ctrl.console.allow-ips =

## 状态服务URI地址。
## 访问状态服务可以查看当前服务器的状态信息。
## 如果设置为空则不启用状态服务。
#frame.ctrl.status.uri = /frame/ctrl/status

## 设置返回结果数据格式类型。
#frame.ctrl.template.type = json

## 设置流错误提示图片地址。
## 当运行过程中发生异常时，将返回该文件。
#frame.ctrl.template.stream.failure = failure.jpg
