# 设置重载类根路径。
# 如果设置为空则表示不动态重载。
frame.bean.reload.class-path =

# 定时器执行实际设置
# 可设置为0 0 0 1 1 ?关闭定时器
# 每日定时器执行时机
frame.scheduler.date.cron = 30 30 4 * * ?
# 每小时定时器执行时机
frame.scheduler.hour.cron = 30 0 * * * ?
# 每分钟定时器执行时机
frame.scheduler.minute.cron = 0 * * * * ?
# 每秒钟定时器执行时机
frame.scheduler.seconds.cron = * * * * * ?

# 设置默认存储处理器。
frame.storage.default = disk

# 设置默认缓存接口类型，为空则表示使用默认实现；其他值参考如下：
# redis —— 使用redis缓存。
frame.cache.name =

# 设置缓存监听端口号。
# 设置为0或负数则不启动缓存监听器，此时将无法获得其他节点同步的缓存数据。
frame.cache.remote.port = 0

# 设置缓存监听处理器线程池最大线程数。
frame.cache.remote.thread = 5

# 设置远程缓存节点配置文件地址。
frame.cache.remote.ips = /WEB-INF/remote-cache

# 设置缓存对象最大生存期，单位：分钟。
# 如果缓存对象最后一次访问时间超过此期限，将被自动移除。
# 如果不设置、或设置为0则表示不自动清理，即：缓存数据永久有效。
# 示例：
# frame.cache.alive-time = 30
# 表示当缓存对象超过30分钟未被访问，将被从内存中被移除。
# 此设置仅对默认实现有效。
frame.cache.alive-time = 30

# 设置缓存的最大使用内存。
# 当缓存所使用的内存超过此设置时，将自动移除较长时间未被访问的缓存数据。
# 规则：数值+单位。
# 数值必须大于或等于1。
# 单位可选值为：k表示kb，m表示mb，g表示gb,t表示tb，单位不区分大小写。
# 此设置仅对默认实现有效。
frame.cache.max-memory = 1g

# 设置Redis服务器地址。
frame.cache.redis.host = localhost
# 设置Redis最大连接数。
frame.cache.redis.max-total = 500
# 设置Redis最大闲置连接数。
frame.cache.redis.max-idle = 5
# 设置Redis最大等待时间，单位：毫秒。
frame.cache.redis.max-wait = 500

# 设置RSA执行目录。
frame.crypto.rsa.path = /WEB-INF/rsa

# 设置签名密钥文件路径。
frame.crypto.sign.path = /WEB-INF/security/sign
# 设置签名有效时长，单位：毫秒。
frame.crypto.sign.time = 10000

# 设置Freemarker模版文件根路径。
frame.freemarker.root = /WEB-INF/ftl
# 设置Freemarker模版文件后缀名。
frame.freemarker.suffix = .ftl

# 设置默认字符集编码。
frame.util.context.charset = UTF-8

# 设置HTTP/S请求池最大实例数。
frame.util.http.pool.max = 256
# HTTP/S访问连接超时（毫秒）
frame.util.http.connect.time-out = 5000
# HTTP/S访问读取超时（毫秒）
frame.util.http.read.time-out = 20000

# 设置时间哈希有效时长，单位：秒。
# 如果设置为0或负数则表示不启用时间哈希验证（验证时总返回true）。
frame.util.time-hash.range = 0

# 设置WebSocket客户端默认缓存区大小，单位：B。
# 默认值：64M。
frame.ws.client.max-size = 67108864

# 设置Chrome服务配置文件。
frame.chrome.services = /WEB-INF/chrome
# 设置Chrome线程池大小。
frame.chrome.max-thread = 5
# 设置等待Chrome返回结果最大时长，单位：秒。
frame.chrome.max-wait = 30
